/* 공통 스타일 */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

/* gasp */
.main-section .fade {
  opacity: 0;
}

/* ScrollMagic */
/* .back-to-position {
  opacity: 0;
  transition: 4s;
}

.back-to-position.to-right {
  transform: translateX(0);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
} */

/* 헤더영역 */

/* 헤더 */
header {
  border-bottom: 1px solid #aaa;
}

/* 상단배너 */
.top-banner {
  display: flex;
  box-sizing: border-box;
}

.top-banner img{
  width: 44px;
  height: 44px;
  margin-right: 10px;
} 

.top-banner .interpark-shop {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 8px 100px 8px 0;
  background-color: #ffb1a0;
}

.top-banner .interpark-shop a {
  display: flex;
}

.top-banner .interpark-shop p{
  font-size: 12px;
  line-height: 20px;
  color: #000;
} 

.top-banner .interpark-book {
  width: 50%;
  display: flex;
  padding: 8px 0 8px 100px;
  background-color: #FEC695;
}

.top-banner .interpark-book a {
  display: flex;
}

.top-banner .interpark-book p{
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.top-banner-delete {
  margin-left: 120px;
  cursor: pointer;
  opacity: 0.6;
}

.top-banner-delete:hover {
  opacity: 1;
}

.top-banner.hide {
  display: none;
}


/* 중간영역 */
.header-middle .inner {
 display: flex; 
 margin-top: 20px;
}


.search {
  align-self: center;
  position: relative;
}

.search input {
  width: 452px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  outline: none;
  padding: 20px;
  margin-left: 20px;
}

.search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  cursor: pointer;
}

.user-menu {
  display: flex;
  position: absolute;
  right: 0;
  align-self: center;
}

.user-menu > li {
  margin-left: 20px;
}

.user-menu > li > a {
  color: #000;
  font-size: 14px;
}

.user-menu > li > a:hover {
  text-decoration: underline;
}

/* 내비게이션 */
.menu .inner {
  display: flex;
  margin-top: 20px;
}

.menu .inner > li {
  padding: 20px;
}

.menu .inner > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.menu .inner > li:nth-child(n+2) > a:hover {
  text-decoration: underline;
}

.menu .inner li:first-child a{
  display: flex;
  opacity: 0.6;
}

.menu .inner li:first-child a span {
  line-height: 0.8;
  padding-right: 3px;
}

.menu .inner li:first-child a:hover {
  opacity: 1;
}


.menu .inner li:last-child a {
  color: #1769ff;
}

/* 스크롤 내비게이션 바 */
.scroll-navbar {
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 15;
  display: none;
}

.scroll-navbar .inner {
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
}

.scroll-navbar-btn .material-icons {
  font-size: 40px;
}

.scroll-navbar-btn a {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  color: #000;
  line-height: 1.2;
  margin-right: 25px;
}

.scroll-navbar-btn a img {
  width: 40px;
  height: 40px;
}


.scroll-navbar-logo {
  position: absolute;
  width: 220px;
  right: 0;
  left: 0;
  margin: auto;
}

.scroll-navbar-user-menu {
  height: 40px;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.scroll-navbar-user-menu ul {
  display: flex;
  align-items: center;
}

.scroll-navbar-user-menu ul li a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 25px;
}


/* 섹션영역 */
/* 메인 */
.main-section {
  display: flex;
}

.main-search {
  width: 300px;
  margin-top: 50px;
}

.main-search h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

.main-search ul {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px; 

}

.main-search ul > li {
  margin: 0 auto;
  position: relative;
}

.main-search ul > li > a {
  color: #000;
  opacity: 0.8;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.main-search ul > li > a:hover {
  text-decoration: underline;
  opacity: 1;
}

.main-search ul li::before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto -30px;
}

.main-search ul li:first-child::before {
  display: none;
}

.main-search input {
  width: 300px;
  height: 52px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 15px;
}

.main-search > button {
  display: block;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.main-search > button:last-child {
  background-color: #1769ff;
  color: #fff;
  height: 52px;
}

/* 배너 */
.main-section .swiper {
  margin-left: 30px;
  align-self: flex-end;
  position: relative;
  border-radius: 5px;
}

.main-section .swiper .swiper-button-prev,
.main-section .swiper .swiper-button-next {
  width: 44px;
  border-radius: 100%;
  background-color: #eee;
  opacity: 0.6;
  position: absolute;
}

.main-section .swiper .swiper-button-prev {
  left: 0;
}

.main-section .swiper .swiper-button-next {
  right: 60px;
}


.main-section .swiper .swiper-button-prev::after,
.main-section .swiper .swiper-button-next::after {
  font-size: 20px;
  color: #000;
}

.main-section .swiper .swiper-button-prev:hover,
.main-section .swiper .swiper-button-next:hover {
  opacity: 1;
}

.main-section .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 0.6;
  background: #fff;
}

.main-section .swiper-pagination-bullet:hover {
  opacity: 1;
}

.main-section .swiper-pagination-bullet-active {
color:#fff;
background: #1769ff;
opacity: 1;
}

/* 투어특가 */
.toursale {
  height: 500px;
}

.toursale h2 {
  text-align: center;
  margin-top: 120px;
}

.toursale-btn {
  text-align: center;
}

.toursale-btn button {
  padding: 8px;
  margin: 28px 2px 20px 2px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.toursale-btn button:hover {
  background-color: rgba(17, 69, 255, 0.1);
  color: #1769ff;
  font-weight: bold;
}

.toursale .swiper {
  max-width: calc(393px * 3 + 10px * 2);
}

.toursale .swiper-slide {
  border: 1px solid #aaa;
  border-radius: 7px;
  box-sizing: border-box;
}

.toursale .swiper-slide a img {
  width: 100%;
  height: 240px;
  border-radius: 5px 5px 0 0;
}

.toursale .swiper-slide a p {
  padding: 10px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.toursale .swiper .swiper-button-prev,
.toursale .swiper .swiper-button-next {
  width: 22px;
  height: 88px;
  background-color: #eee;
  opacity: 0.6;
  position: absolute;
  box-sizing: border-box;
}

.toursale .swiper .swiper-button-prev {
  top: 30%;
  left: 1px;
}

.toursale .swiper .swiper-button-next {
  top: 30%;
  right: 1px;
}


.toursale .swiper .swiper-button-prev::after,
.toursale .swiper .swiper-button-next::after {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.toursale .swiper .swiper-button-prev:hover,
.toursale .swiper .swiper-button-next:hover {
  opacity: 0.8;
}


.toursale .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.2;
  position: relative;
  bottom: 30px;
}

.toursale .swiper-pagination-bullet:hover {
  opacity: 0.4;
}

.toursale .swiper-pagination-bullet-active {
  background-color: #1769ff;
  opacity: 1;
}

/* 국내 인기 여행지 */
.krtravel h2 {
  margin-top: 100px;
  text-align: center;
}

.krtravel-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

}

.krtravel-btn {
  text-align: center;
  margin: 0 15px;
}

.krtravel-btn a p {
  color: #000;
  padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
}

.krtravel-btn a img {
  transition: 0.6s;
}

.krtravel-btn a img:hover {
  transform: scale(1.1);
}

/* 여행 정보 */
.travelinfo h2 {
  margin-top: 120px;
  text-align: center;
}

.travelinfo-menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.travelinfo-btn {
  max-width: 380px;
  min-height: 320px;
  position: relative;
}

.travelinfo-btn img {
  width: 100%;
  height: 100%;
}

.travelinfo-btn p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
}

.travelinfo-menu div:first-child p {
  top: 15px;
  left:15px;
}

.travelinfo-menu div:nth-child(2) {
  margin: 0 30px;
}

.travelinfo-menu div:nth-child(2) p {
  top: 15px;
  left:15px;
}

.travelinfo-menu div:last-child p {
  top: 15px;
  left: 15px;
}

/* 유용한 정보 */
.marketing h2 {
  margin-top: 120px;
  text-align: center;
}

.marketing-menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.marketing-menu li {
  width: 220px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 15px;
  margin: 0 20px;
  position: relative;
}

.marketing-menu li p {
  display: inline-block;
  color: #000;
  font-size: 13px;
  line-height: 1.3;
}

.marketing-menu li img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* 푸터 영역 */
/* 배너 */
.footer_bannerbg {
  margin-top: 120px;
  height: 150px;
  background-image: url("/images/footer_bannerbg.gif");
}

.footer_bannerbg .inner {
  height: 150px;
}

.footer_bannerbg .inner img {
  width: 100%;
  height: 100%;
}

/* corp */
.footer-corp {
  border-bottom: 1px solid #aaa;
}

.footer-corplist {
  display: flex;
}

.footer-corplist li {
  padding: 20px;
  margin: 0 auto;
}

.footer-corplist li a {
  font-size: 13px;
  color: #000;
}

.footer-corplist li a:hover {
  text-decoration: underline;
}

.footer-corplist li::before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto -20px;
}

.footer-corplist li:first-child::before {
  display: none;
}

/* info */
.footer-info {
  margin-top: 20px;
}

.footer-infolist {
  display: flex;
  justify-content: center;
}

.footer-infolist p {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 30px;
}

.footer-infolist p span {
  font-weight: bold;
  font-size: 15px;
}

/* notice */
.footer_notice {
  margin: 30px 0;
}

.footer_notice .center {
  display: flex;
  justify-content: center;
}

.footer_notice .center p {
  font-size: 12px;
  line-height: 1.3;
  opacity: 0.6;
}

/* 반응형 작업 */
@media screen and (max-width: 767px) {
  header .top-banner,
   header .header-middle,
   header .menu,
   .main-section .swiper {
     display: none;
   }
 
  .travelinfo-menu {
    flex-wrap: wrap;
   }

  .travelinfo-menu div {
    padding-bottom: 20px;
  }

  .travelinfo-btn a img {
    
  }

  .krtravel-menu a {
  }

   .main-section {
    flex-wrap: wrap;
   }
   
   .main-search {
    margin: 10px auto;
   }

   .scroll-navbar {
    display: none !important
   }

   .marketing-menu {
    flex-wrap: wrap;
   }

   .marketing-menu li {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
   }

   .footer-corp {
    display: none;
   }

   .footer-info {
    display: none;
   }
 }